body {
  overflow-x: hidden;
}

.header {
  background-color: rgba(58, 140, 182, 1);

  #menu {
    width: 100%;
    height: auto !important;
    background-color: rgba(58, 140, 182, 1);

    .white {
      color: white;
    }

    .user {
      color: #c6c6c6;
    }

    .danger {
      color: $red;
    }

    .brand-title {
      color: $white;
    }

    .nav {
      .nav-item {
        .nav-link:not(.user, .danger) {
          color: $white;
        }
      }
    }

    .nav-divider {
      height: 100%;
    }
  }
}

.parallax-window {
  min-height: 600px;
  background: transparent;
}

.parallax-mirror {
  padding-top: 9rem;
}
// Typografi
body {
  font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  color: $blue;
  font-size: 2.3rem;
}

h3 {
  color: $blue;
  font-size: 2rem;
}
