
#menu {
  height: auto !important;
  background-color: rgba(58, 140, 182, 0.75);
  color: white;
  .brand-title{
    color: white;
  }
  .nav {
    .nav-item{
      .nav-link {
        color: white;
      }

    }
  }
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}
.parallax-mirror {
    padding-top: 15rem;
}

// Typografi
body {
  font-family: 'Cabin', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 2.6rem;
}
h2{
  color: $blue;
  font-size: 2.3rem;
}
h3{
  color: $blue;
  font-size: 2rem;

}
