#menu{
  // text-transform: uppercase;
  width:100%;
  height: auto !important;
  background-color: rgba(58, 140, 182, 1);

// -----------------------------------------------MEDIA QUERIES-------------------------------------------------------------------
  @media(max-width: 991px) {
    hr.white.nav-item.nav-link.nav-divider.mobile-divide{
      margin-bottom:-2.6%;
    }
    .web-divide{
      display:none;
    }
    .dropdown-menu.show{
      text-align: center;
    }
  }



  .mobile-divide{
    width:100%;
    height:3px;
    border-color:$white;
    display:none;
    padding-bottom:-20%;
  @media(max-width: 991px){
    display:block;
  }
}
  .web-divide{
  margin-top:2%;
  }
  .user-nav{
    margin-right:-10px;
  }
  li{
    margin-top:0.5rem;
  }

  .menu-title{
    margin-top:-10px;
  }

  .white{
    color:white;
  }
  .user{
    color:#c6c6c6;
  }
  .danger{
    color:$red;
  }
  .brand-title{
    color: $white;
  }
  .nav {
    .nav-item{
      .nav-link:not(.user,.danger) {
        color: $white;
      }
    }
  }
  .nav-divider{
    height:100%;
  }
}
